main {
  min-height: 80vh;
  padding-top: 10px;
  padding-bottom: 10px;
}

.register-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 600px;
  margin: auto;
  border: 1px solid blue;
  padding: 50px;
}
